<ul class="navbar-nav">
  <li class="nav-item nav-home">
    <a class="nav-link" routerLink="dashboard">Dashboard</a>
  </li>
  <li class="nav-item active nav-something">
    <a class="nav-link" routerLink="something">Something</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Expand
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="">First Thing</a>
      <a class="dropdown-item" routerLink="">Second Thing</a>
      <a class="dropdown-item" routerLink="">Third Thing</a>
      <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="">Something Different</a>
    </div>
  </li>
</ul>
